*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode/

# Rider
.idea/

# Visual Studio
.vs/

# Fleet
.fleet/

# Code Rush
.cr/

# User-specific files
*.suo
*.user
*.userosscache

# Build results
[Rr]elease/
[Rr]eleases/
x64/
build/
bld/
msbuild.log
msbuild.err
msbuild.wrn
